{% extends 'index.html' %}
{% block body %}
<div class="row">
    <div class="col-xs-2 center"></div>
    <div class="col-xs-8 center">
        <nav class="navbar navbar-inverse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('gerund') }}/A1">A1</a></li>
                <li><a href="{{ url_for('gerund') }}/A2">A2</a></li>
                <li><a href="{{ url_for('gerund') }}/B1">B1</a></li>
                <li><a href="{{ url_for('gerund') }}/B2">B2</a></li>
                <li><a href="{{ url_for('gerund') }}/C1">C1</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-xs-2 center"></div>
</div>
<div class="row">
    <style>
        input.form-control { width: 20px; }
    </style>
    {% block form %}
    {% endblock %}
</div>

{% endblock %}