{% extends 'index.html' %}
{% block body %}
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('gerund') }}/A1">A1</a></li>
            <li><a href="{{ url_for('gerund') }}/A2">A2</a></li>
            <li><a href="{{ url_for('gerund') }}/B1">B1</a></li>
            <li><a href="{{ url_for('gerund') }}/B2">B2</a></li>
            <li><a href="{{ url_for('gerund') }}/C1">C1</a></li>
        </ul>
    </nav>
    <div class="row">
        <div class="col-xs-12 center">
            {% block form %}
            {% endblock %}
        </div>
    </div>

{% endblock %}